.BannerAPropos {
    position: relative;
    margin: 0 100px 38px;
    img{
        width: 100%;
        height: 223px;
        border-radius: 25px;
        object-fit: cover;
    }
}

@media (max-width: 768px) {
  .BannerAPropos {
    margin: 0 auto 20px auto;
    max-width: 335px;
    width: 100%;
    height: 111px;

    img {
      height: 111px;
      border-radius: 15px;
      width: 100%;
    }
  }
}