.BannerHome {
  position: relative;
  margin: 0 100px 43px;
  img {
    width: 100%;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    border-radius: 25px;
    mix-blend-mode: darken;
  }
  h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    text-shadow: 
      -1px -1px 0 #000,
       1px -1px 0 #000,
      -1px  1px 0 #000,
       1px  1px 0 #000;
  }
}

@media (max-width: 768px) {
  .BannerHome {
    margin: 0 auto 20px auto;
    max-width: 355px;
    width: 100%;
    height: 111px;

    img {
      height: 111px;
      border-radius: 15px;
      width: 100%;
    }

    &::before {
      border-radius: 15px;
    }

    h1 {
      font-size: 24px;
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      max-width: 230px;
      text-align: left;
      text-shadow: none;
    }
  }
}