.BannerHome {
    position: relative;
    margin: 0 100px 43px;
}

.BannerHome img {
    width: 100%;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
}

.BannerHome::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.6;
    border-radius: 25px;
    mix-blend-mode: darken;
}

.BannerHome h1 {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    width: 100%;
    text-shadow: 
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px  1px 0 #000,
         1px  1px 0 #000;
}