.BackgroundCard {
    background-color: #F6F6F6;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-radius: 25px;
    padding: 56px 50px 43px 50px;
    .cards {
        display: flex;
        gap: 60px;
        flex-wrap: wrap;
        .CardLink{
            text-decoration: none;
        }
        .card {
        width: 300px;
        height: 300px;
        background-size: cover;
        background-position: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p{
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin-left: 20px;
            margin-right: 20px;
        }
        }
    }
}

@media (max-width: 768px) {
  .BackgroundCard {
    margin: 0 auto 20px auto;
    background-color: transparent;
    padding: 0;
    width: 100%;
    max-width: 355px;

    .cards {
      flex-direction: column;
      gap: 20px;
      align-items: stretch;

      .CardLink {
        display: block;
        width: 100%;
      }

      .card {
        width: 100%;
        height: 255px;
      }
    }
  }
}



