.BackgroundCard {
    background-color: #F6F6F6;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-radius: 25px;
    padding: 56px 50px 43px 50px;
}

.cards {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.card {
    width: 300px;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* pour que le texte suive la colonne */
    justify-content: flex-end; /* pousse le texte en bas */
}

.card p{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}