.carrouselFLogement {
    position: relative;
    margin: 50px 100px 30px;
    overflow: hidden;
    border-radius: 25px;
}

.carrouselFLogement img {
    display: block;
    width: 100%;
    height: 415px;
    object-fit: cover;
}

.carrouselFLogement .prev,
.carrouselFLogement .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    width: 96px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 2;
    border-radius: 10px;
}

.carrouselFLogement .prev {
    left: 0;
}

.carrouselFLogement .next {
    right: 0;
}

.carrouselFLogement .counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
}