.Collapse {
  border-radius: 5px;
  margin: 0 100px 38px;
  overflow: hidden;

  .CollapseHeader {
    width: 100%;
    background: #FF6060;
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    font-weight: bold;
    color: white;
    font-size: 24px;

    .arrow {
      margin-right: 20px;
      transition: transform 0.6s ease;

      &.rotate {
        transform: rotate(180deg);
      }
    }
  }

  .CollapseContent {
    padding: 12px 16px;
    background: #F6F6F673;
  }
}

@media (max-width: 768px) {
    .Collapse {
      flex-direction: column;
      align-items: center;
      gap: 20px;
      margin: 0 auto 20px auto;
      max-width: 335px;
      width: 100%;
        .CollapseHeader{
          font-size: 13px;
          padding: 10px;
          .arrow{
            width: 16px;
            height: 10px;
            margin-right: 12px;
          }
        }
      }
    }
  