.collapse {
  border-radius: 5px;
  margin: 0 100px 38px;
  overflow: hidden;
}

.collapse-header {
  width: 100%;
  background: #FF6060;
  padding: 12px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
  color: white;
  font-size: 24px;
}

.arrow {
    margin-right: 20px;
  transition: transform 0.6s ease;
}

.arrow.rotate {
  transform: rotate(180deg);
}

.collapse-content {
  padding: 12px 16px;
  background: #F6F6F673;
}