.FicheLeft{
    margin: 0 100px 0;
}

.FicheLeft h1{
    color: #FF6060;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 0;
}

.FicheLeft p{
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
}

.Tags {
    display: flex;
    gap: 10px;
    margin: 0 100px 24px;
}

.Tags span {
    background-color: #FF6060;
    padding: 3px 40px 2px;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-right: 10px;
}