.fiche {
  .FicheHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 100px 24px;

    .FicheLeft,
    .FicheRight,
    .RatingFLogement,
    .Tags {
      width: 48%;
      margin: 0;
      box-sizing: border-box;
    }

    .FicheRight {
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }

    .RatingFLogement {
      display: flex;
      justify-content: flex-end;
    }

    .Tags {
      display: flex;
      justify-content: flex-start;
    }

    .FicheLeft {
      h1 {
        color: #FF6060;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 0;
      }

      p {
        font-size: 18px;
        font-weight: 500;
        margin-top: 0;
      }
    }
  }

  .FicheCollapses {
    display: flex;
    gap: 76px;
    margin: 0 100px 50px;
  }
}
