.fiche {
  .FicheHeader {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 100px 24px;

    .FicheLeft,
    //.FicheRight,
    .RatingFLogement,
    .Tags {
      width: 48%;
      margin: 0;
      box-sizing: border-box;
    }

    .FicheRight {
      display: flex;
      justify-content: flex-end;
      text-align: right;
    }

    .RatingFLogement {
      display: flex;
      justify-content: flex-end;
    }

    .Tags {
      display: flex;
      justify-content: flex-start;
    }

    .FicheLeft {
      h1 {
        color: #FF6060;
        font-size: 36px;
        font-weight: 500;
        margin-bottom: 0;
      }

      p {
        font-size: 18px;
        font-weight: 500;
        margin-top: 0;
      }
    }
  }
}

  @media (max-width: 768px) {
  .fiche {
    .FicheHeader {
      margin: 0 auto 20px auto;
      max-width: 335px;
      width: 100%;

      .FicheLeft,
      .Tags {
        width: 100%;
      }
      
      .FicheLeft {
        text-align: left;
        order: 1;
        width: 100%;

        h1 {
          font-size: 18px;
          margin-bottom: 5px;
        }

        p {
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
  }