.footer{
    background-color: #000000;
    height: 209px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: 122px;
        height: 40px;
        margin-top: 66px;
        margin-bottom: 28px;
    }
    p{
        color: white;
    }
}

@media (max-width: 768px) {
  .footer {
    p {
      max-width: 200px;
      text-align: center;
      line-height: 1.4;
    }
  }
}