.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 45px 100px 50px;

  img {
    width: 210px;
    height: 68px;
  }

  nav {
    display: flex;
    gap: 57px;

    a {
      text-decoration: none;
      color: black;
      font-size: 24px;
      font-weight: 500;

      &:visited {
        color: black;
      }

      &.active-link {
        text-decoration: underline;
      }
    }
  }
}
