.Host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  .HostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
  .HostName {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .FicheRight{
    order: 4;
    justify-content: flex-end;

    .Host {
      .HostPicture {
        width: 32px;
        height: 32px;
      }

      .HostName {
        font-size: 12px;
        text-align: right;
      }
    }
  }
}