.Host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  .HostPicture {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
  }
  .HostName {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
    font-size: 18px;
    font-weight: 500;
  }
}

