.not-found-container {
  text-align: center;
  margin-top: 89px;
  margin-bottom: 139px;

  .not-found-title {
    font-size: 288px;
    color: #FF6060;
    margin-bottom: 139px;
  }

  .not-found-text {
    font-size: 36px;
    margin-bottom: 139px;
    color: #FF6060;
  }

  .not-found-link {
    font-size: 18px;
    color: #000000;

    &:hover {
      text-decoration: underline;
    }
  }
}