.Tags {
  .tags {
    display: flex;
    gap: 10px;

    .tag {
      background-color: #FF6060;
      padding: 5px 15px;
      border-radius: 10px;
      color: white;
      font-size: 14px;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}

@media (max-width: 768px) {
  .Tags {
    flex-wrap: wrap;
    gap: 10px;
    order: 2;

    .tags {
      .tag {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;
        white-space: nowrap;
        width: auto;
        height: auto;
      }
    }
  }
}