.Tags {
  .tags {
    display: flex;
    gap: 10px;

    .tag {
      background-color: #FF6060;
      padding: 5px 15px;
      border-radius: 10px;
      color: white;
      font-size: 14px;
      font-weight: 700;
      white-space: nowrap;
    }
  }
}